i.icon {
  font-size: 2em;
}

.container.main {
  margin-top: 5em;
}

.bolden {
  border: 2px solid black;
}

.centralize {
  text-align: center;
}

span {
  font-weight: 900;
}
.content {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit {
  position: absolute;
  right: 0;
  bottom: 2px;
}

.delete {
  position: absolute;

  bottom: 2px;
}

.description {
  margin-bottom: 50px;
}
